<h1 class="text-center">Articles</h1>

<div class="row">
  <button type="button" class="btn btn-primary col-4 offset-4 text-center" id="scrape">Scrape for Articles</button>
</div>

<section class="articles">
  {{#each articles}}
  {{> articles/article-block}}
  {{/each}}
</section>