<h1 class="text-center">Articles</h1>

<div class="row">
  <button type="button" class="btn btn-primary col-3 offset-3 text-center px-5 mx-auto" id="scrape">Scrape for Articles</button>
  <button type="button" class="btn btn-primary col-3 text-center px-5 mx-auto" id="load">Load Articles</button>
</div>

<section class="articles">
  {{#each articles}}
  {{> articles/article-block}}
  {{/each}}
</section>