<h1 class="text-center">Articles</h1>

<button type="button" class="btn btn-primary" id="scrape">Scrape for Articles</button>

<section class="articles">
  {{#each articles}}
  {{> articles/article-block}}
  {{/each}}
</section>