<hr>
<blockquote class="blockquote my-5 container">
  <p class="mb-0 font-italic">{{ body }}</p>
  <footer class="blockquote-footer float-right"> <cite title="Source Title">{{ author }}</cite></footer>
</blockquote>