<article class="container">
	<div class="card">
		<div class="card-header bg-dark">
			<h2>{{title}}</h2>
		</div>
		<div class="card-body">
			<p class="card-text">{{summary}}</p>
		</div>
		<div class="card-footer text-muted">
			<div class="container">
				<input type="text" name="comments" id="">
			</div>
		</div>
	</div>
</article>